h1(style={'text-align': 'center', color: 'black'}) Recuperação de senha

p(style={'text-align': 'center', color: 'black', 'font-size': '16px', 'font-weight': '400', 'word-break': 'break-word'})
  | Olá #{name}! Você solicitou a recuperação de senha, por favor copie o token a seguir para prosseguir:

p(style={'text-align': 'center', color: 'black', 'font-size': '16px', 'font-weight': '400', 'word-break': 'break-word'})
  | #{token}
